#two{
    background-image: url("https://www.industry.nsw.gov.au/__data/assets/image/0006/157731/laptop-business-connect-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

}